.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p {
  @apply my-10;
}

.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
  @apply list-disc pl-10;
}

.markdown a {
    @apply text-blue-800 hover:underline;
}

.markdown h2 {
  @apply text-3xl text-gray-200 mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown h5 {
    @apply text-xl text-gray-500 mt-6 mb-4 leading-snug;
}
